body {
    background-color: #99cc66;
    color: #000000;
}

h1 {
    text-align: center;
    font-size: 400%;
    margin-top: 20px;
}

.button {
    border: 2px solid black;
    color: black;
    padding: 8px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 32px;
    transition-duration: 0.4s;
    background-color: white;
    cursor: pointer;
}

button:hover {
    background-color: #808080;
    border: 4px solid black;
}

.center {
    position: absolute;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.large-br {
    display: block;
    margin-bottom: 35em;
}

.small-br {
    display: block;
    margin-bottom: 5em;
}
