<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>Word of the Round</title>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js" integrity="sha512-aMGMvNYu8Ue4G+fHa359jcPb1u+ytAF+P2SCb+PxrjCdO3n3ZTxJ30zuH39rimUggmTwmh2u7wvQsDTHESnmfQ==" crossorigin="anonymous"></script>
	<script src="{{url_for('static', filename='js/phase3Script.js')}}"></script>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/homeStyle.css') }}">
</head>
	
<body>
	<h1>Choosing Answer</h1>
	<span class="small-br"></span>
	<p align="left">
		<div class="smallFont" id="Prompt"></div>
		<br>
		<div class="smallFont" id="Word"></div>
		<br><br>
		Now, please select the best player response:
	</p>
	<form id="chooseWord" method="POST" action='#'>
		<input class="left mark" type="radio" value="answerNumber1" name="answer" id="answerMark1" />
		<label class="left button card smallFont" for="answerMark1" id="answerNumber1"></label>
		<input class="center mark" type="radio" value="answerNumber2" name="answer" id="answerMark2" />
		<label class="center button card smallFont" for="answerMark2" id="answerNumber2"></label>
		<input class="right mark" type="radio" value="answerNumber3" name="answer" id="answerMark3" />
		<label class="right button card smallFont" for="answerMark3" id="answerNumber3"></label>
		<br>
		<span class="large-br"></span>
		<input class="left mark" type="radio" value="answerNumber4" name="answer" id="answerMark4" />
		<label class="left button card smallFont" for="answerMark4" id="answerNumber4"></label>
		<input class="center mark" type="radio" value="answerNumber5" name="answer" id="answerMark5" />
		<label class="center button card smallFont" for="answerMark5" id="answerNumber5"></label>
		<input class="right mark" type="radio" value="answerNumber6" name="answer" id="answerMark6" />
		<label class="right button card smallFont" for="answerMark6" id="answerNumber6"></label>
	</form>
	<br>
	<span class="medium-br"></span>
	<br>
	<span class="medium-br"></span>
	<form id="chooseAnswer" method="POST" action='#'>
		<button class="center button" name="nextPhaseButton" value="submittedPrompts" type="submit">Submit</button>
	</form>
	<div class="top-left" id="playerName"></div>
	<div class="bottom-right" id="playerScores"></div>
	<form id="leave" method="POST" action='#' class="bottom-left">
		<input type="submit" value="Leave Room">
	</form>
</body>
	
</html>