
<!DOCTYPE html>
<html>

   <head>
      <title>Lobby Page</title>
   </head>
	
   <body>
      <form >
	<p align = "center">
	You are the judge!
	<br> <br> <br>
	Please pick one of the following prompts:
	<br> <br> 

	<input type = "radio" name = "Prompt 1" value = "What is the meaning of life?"> What is the meaning of life?
	<br> <br> <br> 
         <input type = "radio" name = "Prompt 2" value = "Why did the chicken cross the road?"> Why did the chicken cross the road?
	<br> <br> <br> 
	<input type = "radio" name = "Prompt 3" value = "How do you define success?"> How do you define success?
	<br> <br> <br> 
	<br>


	<br> <br> <br>
	Ready? <button class="button" name="yesbuttonjudgeprompt" value="Yes!">Yes!</button>
	</p>
      </form>
   </body>
	
</html>