<!DOCTYPE html>
<html>

<head>
	<title>Judge, Choose Your Card!</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/homeStyle.css') }}">
</head>
	
<body>
	<p align="left">
		Here are reminders of the prompt and word you chose:
		<br>
		Prompt: [insert prompt]
		<br>
		Word: [insert word]
		<br><br><br><br>
		Now, please select the best player response:
	</p>
	<form id="chooseWord" method="POST" action='#'>
		<input class="left mark" type="radio" value="Answer1" name="answer" id="word1Mark" />
		<label class="left button card" for="word1Mark" id="Word1"></label>
		<input class="center mark" type="radio" value="Word2" name="answer" id="word2Mark" />
		<label class="center button card" for="word2Mark" id="Word2"></label>
		<input class="right mark" type="radio" value="Word3" name="answer" id="word3Mark" />
		<label class="right button card" for="word3Mark" id="Word3"></label>
		<br>
		<span class="medium-br"></span>
		<input class="left mark" type="radio" value="Prompt1" name="answer" id="prompt1Mark" />
		<label class="left button card" for="prompt1Mark" id="Prompt1"></label>
		<input class="center mark" type="radio" value="Prompt1" name="answer" id="prompt2Mark" />
		<label class="center button card" for="prompt2Mark" id="Prompt2"></label>
		<input class="right mark" type="radio" value="Prompt1" name="answer" id="prompt3Mark" />
		<label class="right button card" for="prompt3Mark" id="Prompt3"></label>
	</form>
	<form id="submitPrompt" method="POST" action='#'>
		<button class="center button" name="nextPhaseButton" value="submittedPrompts" type="submit">Submit</button>
	</form>
</body>
	
</html>