<!DOCTYPE HTML>
<html>
<head>
    <title>Word of the Round: Lobby</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js" integrity="sha512-aMGMvNYu8Ue4G+fHa359jcPb1u+ytAF+P2SCb+PxrjCdO3n3ZTxJ30zuH39rimUggmTwmh2u7wvQsDTHESnmfQ==" crossorigin="anonymous"></script>
    <script src="{{url_for('static', filename='js/lobbyScript.js')}}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/homeStyle.css') }}">
</head>
<body>
    <h1>Lobby Page</h1>
    <p id="game_code"></p>
    <p id="player_list"></p>
    <form id="leave" method="POST" action='#'>
        <input type="submit" value="Leave Room">
    </form>
    <form id="start" method="POST" action='#'>
        <button class="center button" name="startGameButton" value="Start Game" type="submit">Start</button>
        <br>
        <span class="medium-br"></span>
        <p align="center">
            Time Limit:
            <input type="radio" name="Time Limit" id="Time Limit" value="30"> 30s
            <input type="radio" name="Time Limit" id="Time Limit" value="60"> 60s
            <input type="radio" name="Time Limit" id="Time Limit" value="90"> 90s
            <input type="radio" name="Time Limit" id="Time Limit" value="120"> 120s
            <br>

            Word Difficulty:
            <input type="radio" name="Word Difficulty" id="Word Difficulty" value="easy"> Easy
            <input type="radio" name="Word Difficulty" id="Word Difficulty" value="medium"> Medium
            <input type="radio" name="Word Difficulty" id="Word Difficulty" value="hard"> Hard
            <br>

            Word Count Limit for Responses:
            <input type="radio" name="Word Count Limit" id="Word Count Limit" value="50"> 50
            <input type="radio" name="Word Count Limit" id="Word Count Limit" value="100"> 100
            <input type="radio" name="Word Count Limit" id="Word Count Limit" value="200"> 200
            <br>

            First to How Many to Win: <span id="win_output"></span>
            <div class="center slidecontainer">
                <input type="range" min="1" max="10" value="5" class="slider" id="win_data">
            </div>
            <br>
        </p>
    </form>
    <h2>Send:</h2>
    <form id="send_room" method="POST" action='#'>
        <input type="text" name="room_data" id="room_data" placeholder="Message">
        <input type="submit" value="Send to Room">
    </form>
    <br />
    <h2>Receive:</h2>
    <div id="log"></div>
</body>
</html>
