<!DOCTYPE HTML>
<html>
<head>
    <title>Flask-SocketIO Test</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js" integrity="sha512-aMGMvNYu8Ue4G+fHa359jcPb1u+ytAF+P2SCb+PxrjCdO3n3ZTxJ30zuH39rimUggmTwmh2u7wvQsDTHESnmfQ==" crossorigin="anonymous"></script>
    <script src="{{url_for('static', filename='js/socketioScript.js')}}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/homeStyle.css') }}">
</head>
<body>
    <h1>Lobby Page</h1>
    <p id="game_code"></p>
    <p id="player_list"></p>
    <h2>Send:</h2>
    <form id="send_room" method="POST" action='#'>
        <input type="text" name="room_data" id="room_data" placeholder="Message">
        <input type="submit" value="Send to Room">
    </form>
    <form id="leave" method="POST" action='#'>
        <input type="submit" value="Leave Room">
    </form>
    <form action="{{ url_for('home.readStartButton') }}" method="post">
        <button class="center button" name="start" value="Start Game">Start</button>
    </form>
    <br />
    <h2>Receive:</h2>
    <div id="log"></div>
</body>
</html>
