
<!DOCTYPE html>
<html>

   <head>
      <title>Lobby Page</title>
   </head>
	
   <body>
      <form >
	<p align = "center">
	Game Code: [the unique game code will display here]
	<br> <br> <br>
	Players: Host + [names of other players]
	<br> <br> <br>
	Choose your preferred settings for the game (majority rules): 
	<br> 

	Time Limit:
	<input type = "radio" name = "Time Limit" value = "30s"> 30s
         <input type = "radio" name = "Time Limit" value = "60s"> 60s
	<input type = "radio" name = "Time Limit" value = "90s"> 90s
	<input type = "radio" name = "Time Limit" value = "120s"> 120s
	<br>

	Word Difficulty:
	<input type = "radio" name = "Word Difficulty" value = "easy"> Easy
	<input type = "radio" name = "Word Difficulty" value = "medium"> Medium
	<input type = "radio" name = "Word Difficulty" value = "hard"> Hard
	<br>

	Word Count Limit for Responses: 
	<input type = "radio" name = "Word Count Limit" value = "50"> 50
	<input type = "radio" name = "Word Count Limit" value = "100"> 100
	<input type = "radio" name = "Word Count Limit" value = "200"> 200	
	<br>


	<br> <br> <br>
	Ready to start the game? 
         <input type = "button" name = "yes" value = "Yes!" />
	</p>
      </form>
   </body>
	
</html>