
<!DOCTYPE html>
<html>

   <head>
      <title>Player Login Page</title>
   </head>
	
   <body>
      <form action="{{ url_for('home.readyesbuttonlogin') }}" method="post">
	<p align = "center">
         Please enter your name: <input type = "text" name = "name" />
         <br> <br> <br> <br> 
         Game ID: <input type = "password" name = "game id" />
	 <br><br> <br> <br> 
	<!-- Ready to join the lobby? <input type = "button" name = "yesbuttonlogin" value = "Yes!" />

	-->

	Ready to join the lobby? <button class="button" name="yesbuttonlogin" value="Yes!">Yes!</button>


	</p>
	
	

      </form>
   </body>
	
</html>