<!DOCTYPE html>
<html>

<head>
	<title>Player Login Page</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/homeStyle.css') }}">
</head>
	
   <body>
      <form action="{{ url_for('home.readCreateGameButton') }}" method="post">
		  <p align = "left">
		Here's your prompt: [insert prompt chosen by the judge]
		<br>
		Here's your random word: [insert randomly generated word]
			 <br> <br> <br> <br> 
		<textarea rows = "8" cols = "80" name = "description"> 
			Using the random word, enter your response here... </textarea>
         	 <br> <br> <br> <br> 
		Ready to submit? <button class="button" name="yesbuttonplayerresponse" value="Yes!">Yes!</button>
		  </p>
      </form>
   </body>
	
</html>